<%= render "partials/navbar" %>

<section class="main">


    <%@groups.each do |group|%>
      <div class="category">
        <img src=<%=group.icon%> alt="icon">

        <div>
        <%= link_to group_path(group.id), :remote => true do %>
          <h3><%=group.name%></h3>
        <%end%>
        <p><%=group.created_at%></p>
        </div>

        <h3>$<%=Group.total(group.id)%></h3>
      </div>
    <%end%>

<%= link_to new_group_path, :remote => true do %>
  <input type="button" class="btn btn-primary last" value="Add Category">
<% end %>

</section>