<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "Sign out", destroy_user_session_path, method: :get %>

<h1>All categories for this user</h1>

<section class="container">
    <%@groups.each do |group|%>
      <div class="categroy">
        <%= link_to group_path(group.id), :remote => true do %>
          <h3><%=group.name%></h3>
        <%end%>
        <img src=<%=group.icon%> alt="icon">
        <p><%=group.created_at%></p>
      </div>
    <%end%>
</section>

<%= link_to new_group_path, :remote => true do %>
  <input type="button" class="btn btn-primary" value="Add Category">
<% end %>